html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: white;
    min-height: 100vh;
    padding: 0;
    background-image: url(../travel/img/bg-top.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /* background-size: width 100%; */
    min-width: 320px;
    /*dodal*/
    display: flex;
    flex-direction: column;
}

.down-bg {
    position: relative;
    background-image: url(../travel/img/bg-stories.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

.page-container {
    overflow: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* Header styles start */

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-logo {
    margin-top: 12px;
    /* margin-left: 20px; */
}

.header-logo-pik-small {
    display: none;
}

.header-nav {
    width: 527px;
    margin-top: 35px;
    margin-right: 40px;
}

.header-list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.header-btn {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 25px;
    width: 103px;
    height: 41px;
    margin: 25 120 0 0;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
    transition: .5s;
}

.search-form-submit:hover,
.search-form-submit:active,
.search-form-submit:focus {
    background: #1159b9;
}

.header-link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: .75;
}

.burger {
    display: none;
}

.burger-menu {
    display: none;
}


/* Header styles end */


/* Prewiew styles start */

.prewiew {
    min-height: 675px;
    padding-top: 32px;
    margin: 0;
    border: 0;
    margin-bottom: 80px;
}

.prewiew-title {
    max-width: 892px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.prewiew-subtitle {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
}

.search-form-info {
    max-width: 892px;
    height: 95px;
    left: 120px;
    top: 416px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-form-info:last-child {
    padding-right: 18px;
}

.search-form-field {
    max-width: 560px;
    background-color: transparent;
    border: 0;
    margin-right: 85px;
    padding-left: 41px;
    padding-top: 20px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.search-form-field::placeholder {
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.search-form-submit {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: white;
    width: 228px;
    height: 59px;
    margin-top: 18px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
    transition: .5s;
}

.header-btn:hover,
.header-btn:active,
.header-btn:focus {
    background: #1159b9;
}


/* Prewiew styles end */


/* Steps styles start */

.steps-wrapper {
    max-width: 1177px;
    margin: 0 auto;
}

.subtitle {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #F2785C;
}

.step-img {
    width: 100px;
    height: 100px;
    text-align: center;
    background: #F2785C;
    border-radius: 16px;
}

.three-steps {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;
    margin-bottom: 99px;
}

.second-step {
    padding-left: 70px;
}

.step-text {
    text-align: center;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;
    padding-top: 32px;
}


/* Steps styles end */


/* Destination styles start */

.destinations {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-items: center; */
    overflow: hidden;
}

.destination-slider {
    transform: translate(0, 0);
    transition: 1.5s;
    margin-top: 46px;
    margin-bottom: 24px;
    width: 2520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    /* z-index: 1; */
}

.destenation-text {
    position: absolute;
    margin-top: 718px;
    margin-left: 15px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.destination-img1 {
    width: 800px;
    height: 800px;
    border-radius: 16px;
    background-image: url(../travel/img/spain-img.jpg);
    position: relative;
}

.destination-img2 {
    width: 800px;
    height: 800px;
    border-radius: 16px;
    background-image: url(../travel/img/japan-img.jpg);
    position: relative;
}

.destination-img3 {
    width: 800px;
    height: 800px;
    border-radius: 16px;
    background-image: url(../travel/img/usa-img.jpg);
    position: relative;
}

.arrow {
    display: none;
}

.slider-ellipses {
    /* margin-left: 48.5%; */
    display: flex;
    flex: row;
    justify-content: space-between;
    width: 80px;
    margin-bottom: 23px;
}

.slider-ellipse {
    width: 20px;
    height: 20px;
    background: #F2785C;
    opacity: .5;
    border-radius: 10px;
}

.ellipse-last {
    display: none;
}


/* Destination styles end */


/* Stories styles start */


/* .stories {
    margin-top: 40px;
} */

.wrapper-stories {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
}

.travel {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}

.travel-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 40px; */
}

.travel-story {
    margin-top: 30px;
    display: flex;
    flex: row;
    align-items: center;
}

.travel-story:first-of-type {
    margin-top: 40px;
}

.story-text {
    margin-top: 22px;
    max-width: 760px;
    /* min-height: 184px; */
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.story-text-mobile {
    display: none;
}

.story-href {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.story {
    margin-left: 40px;
    padding-bottom: 16px;
}

.story-img {
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.story-title {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}


/* Stories styles end */


/* BT styles start */

.bt-more {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding-left: 48px;
    color: white;
    width: 228px;
    height: 59px;
    margin-top: 18px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
    transition: 0.5s;
    position: relative;
    text-transform: capitalize;
}

.bt-more::before {
    position: absolute;
    top: 50%;
    left: 32px;
    width: 35px;
    height: 22px;
    transform: translateY(-50%);
    background-image: url("../travel/img/svg/bt-pointer.svg");
    background-repeat: no-repeat;
    content: "";
}

.bt-more:hover,
.bt-more:active,
.bt-more:focus {
    background: #1159b9;
}

.see-more {
    margin-bottom: 40px;
    margin-top: 40px;
}


/* BT styles end */


/* Footer styles start */

.footer-wraper {
    height: 61px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.footer-wraper:first-child {
    padding-left: 32.5%;
}

.footer-wraper:last-child {
    padding-right: 0px;
}

.footer-rights {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-links {
    width: 140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
}


/* Footer styles end */

.cover {
    z-index: -1;
    transition: .5s ease all;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.cover.active {
    display: block;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    transition: .5s ease all;
}


/* laptop */

@media (max-width: 1060px) {
    .story-img {
        width: 200px;
        height: 125px;
    }
}

@media (max-width: 850px) {
    .header-nav {
        display: none;
    }
    .destination-img1 {
        width: 360px;
        height: 210px;
        background-size: cover;
        background-image: url(../travel/img/spain-mobile.jpg)
    }
    .destination-img2 {
        width: 360px;
        height: 210px;
        background-size: cover;
        background-image: url(../travel/img/japan-mobile.jpg)
    }
    .destination-img3 {
        width: 360px;
        height: 210px;
        background-size: cover;
        background-image: url(../travel/img/usa-mobile.jpg)
    }
    .burger {
        display: inline;
        height: 32px;
        width: 35px;
        cursor: pointer;
        background: url(../travel/img/svg/burger-open.svg) no-repeat center;
        background-size: contain;
    }
    .header {
        height: 30px;
        margin-top: 45px;
        background: none;
        box-shadow: none;
        position: relative;
        /* z-index: 1; */
    }
    .header-wrapper {
        position: relative;
        /* z-index: 1; */
        /* overflow: hidden; */
    }
    .burger-menu {
        /* display: none; */
        display: block;
        width: 165px;
        height: 250px;
        background-color: #F2785C;
        border-radius: 10px;
        position: absolute;
        right: 0;
        z-index: 10;
        transform: translateY(-120%);
        transition: .3s all linear;
    }
    .burger-menu-active {
        transform: translateY(0);
    }
    .header-nav-burger {
        height: 176px;
    }
    .header-list-burger {
        width: 150;
        padding-left: 7px;
        padding-right: 7px;
        height: 176px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .close {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .header-link {
        font-size: 16px;
        line-height: 21px;
    }
    .header-nav {
        display: none;
    }
    .footer-rights,
    .header-btn,
    .prewiew-subtitle {
        display: none;
    }
    .destination-img1 {
        width: 540px;
        height: 315px;
        background-size: cover;
        background-image: url(../travel/img/spain-mobile.jpg)
    }
    .destination-img2 {
        width: 540px;
        height: 315px;
        background-size: cover;
        background-image: url(../travel/img/spain-img.jpg)
    }
    .destination-img3 {
        width: 540px;
        height: 315px;
    }
    .search-form-info {
        flex-wrap: wrap;
    }
    .search-form-info:last-child {
        padding-right: 10px;
        margin-top: 30px;
    }
    .travel-stories {
        padding-top: 40px;
    }
    .travel-story {
        margin-top: 15px;
    }
    .travel-story:first-of-type {
        margin-top: 25px;
    }
    .story-text {
        margin-top: 15px;
        max-width: 760px;
        /* min-height: 184px; */
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #0D606F;
    }
    .story-href {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #0D606F;
    }
    .story {
        margin-left: 20px;
    }
    .story-title {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        color: #0D606F;
    }
}


/* @media (max-width: 680px) {
    .search-form-info {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    .search-form-field {
        margin-bottom: 50px;
    }
} */

@media (max-width: 390px) {
    body {
        max-width: 390px;
        background-image: url(../travel/img/bg-top-mobile.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        /* height: 100vh; */
        overflow-x: hidden;
    }
    .down-bg {
        background-image: url(../travel/img/bg-bottom-mobile.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    .wrapper {
        max-width: 360px;
    }
    .steps-img {
        width: 70px;
        height: 70px;
    }
    .subtitle {
        font-size: 14px;
        line-height: 19px;
    }
    .step-text {
        font-size: 10px;
        line-height: 12px;
    }
    .second-step {
        padding-left: 20px;
    }
    .three-steps {
        padding-left: 10px;
        padding-right: 10px;
    }
    .story-img {
        width: 155px;
        height: 130px;
    }
    .header-nav {
        display: none;
    }
    .header-logo {
        margin-top: 0px;
        /* margin-left: 20px; */
    }
    .burger {
        display: inline;
        height: 32px;
        width: 35px;
        cursor: pointer;
        background: url(../travel/img/svg/burger-open.svg) no-repeat center;
        background-size: contain;
    }
    .header {
        height: 30px;
        margin-top: 45px;
        background: none;
        box-shadow: none;
        position: relative;
        /* z-index: 1; */
    }
    .header-wrapper {
        position: relative;
        /* z-index: 1; */
        /* overflow: hidden; */
    }
    .burger-menu {
        /* display: none; */
        display: inline;
        width: 165px;
        height: 250px;
        background-color: #F2785C;
        border-radius: 10px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        transform: translateY(-120%);
        transition: .3s all linear;
    }
    .burger-menu.active {
        transform: translateY(0);
        transition: .5s ease all;
    }
    /* .burger-menu-active {
        transform: translateY(0);
    } */
    .header-nav-burger {
        height: 176px;
    }
    .header-list-burger {
        width: 150;
        padding-left: 7px;
        padding-right: 7px;
        height: 176px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .close {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .header-link {
        font-size: 16px;
        line-height: 21px;
    }
    .header-logo-pik-big {
        display: none;
    }
    .header-logo-pik-small {
        display: inline;
    }
    .header-nav {
        display: none;
    }
    .footer-rights,
    .header-btn,
    .prewiew-title,
    .prewiew-subtitle {
        display: none;
    }
    /*prewiew start*/
    .prewiew {
        min-height: 190px;
        padding-top: 67px;
        margin: 0;
        border: 0;
        margin-bottom: 8px;
    }
    .search-form-info {
        max-width: 360px;
        height: 48px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .search-form-info:last-child {
        padding-right: 10px;
    }
    .search-form-field {
        max-width: 360px;
        margin-right: 0px;
        background-color: transparent;
        border: 0;
        padding-left: 15px;
        padding-top: 5px;
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F2785C;
    }
    .search-form-field::placeholder {
        font-size: 14px;
        line-height: 17px;
    }
    .search-form-submit {
        font-size: 11px;
        line-height: 15px;
        max-width: 92px;
        height: 30px;
        margin-top: 0px;
    }
    /*prewiew end*/
    /*steps start*/
    .three-steps {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    /* .three-steps:first-child {
            text-align: left;
        }
        .three-steps:last-child {
            text-align: right;
        } */
    .second-step {
        padding-left: 40px;
    }
    .first-step {
        text-align: left;
    }
    .third-step {
        text-align: right;
    }
    .step-text {
        text-align: center;
    }
    .first {
        text-align: left;
    }
    .third {
        text-align: right;
    }
    .three-steps {
        margin-top: 20px;
        margin-bottom: 22px;
    }
    .step-text {
        padding-top: 16px;
    }
    /* .three-steps:first-child {
           item-align: left;
       } */
    /*steps end*/
    /*stories start*/
    .story-text {
        display: none;
    }
    .story-text-mobile {
        display: inline;
        margin-top: 15px;
        max-width: 195px;
        /* height: 102px; */
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 10px;
        color: #0D606F;
    }
    .wrapper-stories {
        max-width: 390px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
    }
    .travel {
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: #FFFFFF;
    }
    .travel-stories {
        padding-top: 0;
        max-width: 360px;
    }
    .travel-story {
        margin-top: 15px;
    }
    .travel-story:first-of-type {
        margin-top: 10px;
    }
    .story-href {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
    }
    .story {
        margin-left: 10px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
    }
    .story-title {
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
    }
    /*stories end*/
    /*destination start*/
    .destination-slider {
        transform: translate(0, 0);
        transition: 1.5s;
        position: relative;
        margin-top: 20px;
        margin-bottom: 2px;
        width: 1140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        z-index: 1;
    }
    .destination-img1 {
        width: 360px;
        height: 210px;
        background-size: cover;
        background-image: url(../travel/img/spain-mobile.jpg)
    }
    .destination-img2 {
        width: 360px;
        height: 210px;
        background-size: cover;
        background-image: url(../travel/img/japan-mobile.jpg)
    }
    .destination-img3 {
        width: 360px;
        height: 210px;
        background-size: cover;
        background-image: url(../travel/img/usa-mobile.jpg)
    }
    .slider-ellipses {
        position: relative;
        margin-top: 72px;
        width: 36px;
        z-index: 2;
        margin-bottom: 5px;
    }
    .slider-ellipse {
        width: 8px;
        height: 8px;
        background: #F2785C;
        opacity: 0.5;
        border-radius: 4px;
    }
    .destenation-text {
        position: absolute;
        margin-top: 8px;
        margin-left: 15px;
        font-family: 'Red Hat Text', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
    }
    .arrow {
        display: flex;
        width: 355px;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        z-index: 2;
        margin-top: -120px;
    }
    .arrow-left {
        width: 14.5px;
        height: 25px;
        background-image: url(../travel/img/svg/arrow-left.svg);
        opacity: 1;
    }
    .arrow-right {
        width: 14.5px;
        height: 25px;
        background-image: url(../travel/img/svg/arrow-right.svg);
        opacity: 1;
    }
    /*destination end*/
    /*button start*/
    .bt-more {
        width: 92px;
        height: 30px;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
        padding-left: 15px;
    }
    .bt-more::before {
        position: absolute;
        top: 55%;
        left: 12px;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
        background-image: url("../travel/img/svg/bt-poiter-mobile.svg");
        background-repeat: no-repeat;
        content: "";
    }
    .see-more {
        margin-bottom: 13px;
        margin-top: 10px;
    }
    /*button end*/
    .footer-wraper {
        height: 65px;
    }
    .footer-wraper {
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .footer-wraper:first-child {
        padding-left: 0;
    }
    .footer-wraper:last-child {
        padding-right: 0;
    }
}


/*popup start*/

.popup {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, -200%, 1100px);
    -webkit-transform: translate3d(-50%, -200%, 1100px);
    transition: all 0.3s ease;
}

.popup.active {
    top: 50%;
    transform: translate3d(-50%, -50%, 1100px);
    -webkit-transform: translate3d(-50%, -50%, 1100px);
}

.popup-inner {
    border-radius: 0px;
    width: 97vw;
    max-width: 650px;
    padding: 25px 45px 23px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-popup {
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0d606f;
    margin-bottom: 30px;
    text-align: center;
}

.popup-form-btn {
    height: 54px;
    margin-top: 25px;
}

.popup-account-btn+.popup-account-btn {
    margin-top: 20px;
}

.popup-account-btn-svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.line-or {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
    margin: 30px 0 10px;
}

.line {
    flex: 1;
    border-top: 1px solid rgba(13, 96, 111, 0.5);
}

.line-or-text {
    padding: 0 9px;
    margin-top: -4px;
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
}

.popup-link {
    display: block;
    margin: 11px auto 0;
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #0d606f;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    text-align: center;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.popup-link:hover {
    color: #f2785c;
}

.popup-line-footer {
    margin: 26px 0 20px;
}

.popup-footer {
    display: flex;
    justify-content: center;
    font-family: 'Aleo', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #0d606f;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.popup-footer-text {
    opacity: 0.6;
}

.popup-footer-btn {
    margin-left: 5px;
    margin-top: -5px;
    font-weight: 700;
    text-decoration-line: underline;
    transition: all 0.2s ease;
    border: none;
    background: none;
    color: #0d606f;
}

.popup-footer-btn:hover {
    color: #f2785c;
}

.popup-login {
    display: block;
}

.popup-signup {
    display: none;
}

.form-item {
    display: block;
    margin-bottom: 20px;
}

.form-item-title {
    display: block;
    margin-bottom: 5px;
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0d606f;
}

.input {
    width: 100%;
    height: 54px;
    padding: 0 15px;
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #0d606f;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.btn {
    cursor: pointer;
    transition: all 0.2s ease;
    pointer-events: initial;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 56px;
    padding: 10px;
    font-family: 'Red Hat Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.btn-svg {
    width: 9px;
    height: 6px;
    margin-right: 7px;
}

.btn-sign-in {
    color: #ffffff;
    background: #0d606f;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.btn-sign-in:hover {
    background: #f2785c;
}

.btn-facebook {
    color: #ffffff;
    background: #1877f2;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.btn-facebook:hover {
    box-shadow: 6px 5px 5px rgba(13, 96, 111, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.btn-google {
    color: #0d606f;
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.btn-google:hover {
    box-shadow: 6px 5px 5px rgba(13, 96, 111, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

@media (max-width: 390px) {
    .popup-inner {
        width: 97vw;
        max-width: 650px;
        padding: 15px 15px 13px;
    }
    .title-popup {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .popup-account-btn+.popup-account-btn {
        margin-top: 10px;
    }
    .popup-account-btn-svg {
        width: 14px;
        height: 14px;
    }
    .line-or {
        height: 14px;
    }
    .line-or-text {
        font-size: 14px;
        line-height: 18px;
    }
    .popup-link {
        font-size: 12px;
        line-height: 16px;
    }
    .popup-footer {
        font-size: 15px;
        line-height: 18px;
    }
    .popup-footer-btn {
        margin-left: 5px;
    }
    .form-item {
        margin-bottom: 10px;
    }
    .form-item-title {
        font-size: 12px;
        line-height: 15px;
        color: #0d606f;
    }
    .input {
        height: 34px;
        font-size: 12px;
        line-height: 12px;
    }
    .btn {
        height: 36px;
        font-size: 16px;
        line-height: 13px;
    }
    .btn-svg {
        width: 9px;
        height: 6px;
        margin-right: 7px;
    }
}


/* ----  end popup  ---- */


/*popup end*/